/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #282c34;
    
}

.musicPlayer{
    background-color: #343a40;
    
  height: 10vh;
  width: 100%;
  color: whitesmoke;
}
.playButton{
    position: absolute;
    top: 2vh;
    left: 3rem;
    height: 6vh;
    width: 5rem;
    
}